.matrix-app {
  padding: 40px;
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}

.control-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    width: 300px;
    display: inline-flex;
    flex-direction: row;
    gap: 10px;
  }

  input {
    width: 100px;
  }

  .control-title {
    width: 100px;
  }
}