$grey: #ddd;
$grey-light: #f4f4f4;
$yellow: #f0c674;

$percent-10: #e5f2ff;
$percent-20: #cce5ff;
$percent-30: #b3d8ff;
$percent-40: #99ccff;
$percent-50: #80bfff;
$percent-60: #66b3ff;
$percent-70: #4da6ff;
$percent-80: #3399ff;
$percent-90: #1a8cff;
$percent-100: #0080ff;